<Modal Title="Edit Product" Visible="@Visible" Closable="false" Footer="null">
  <p>@_errorMessage</p>
  <Form @ref="_form" Model="@Model" ValidateMode="@FormValidateMode.Default" ValidateOnChange="@true"
        LabelColSpan="8" WrapperColSpan="16">
    <FormItem>
      <LabelTemplate>
        <label class="ant-form-item-required" for="name">Name</label>
      </LabelTemplate>
      <ChildContent>
        <Input id="name" @bind-Value="@context.Name" placeholder="product name"/>
      </ChildContent>
    </FormItem>

    <FormItem>
      <LabelTemplate>
        <label class="ant-form-item-required" for="quantity">Quantity</label>
      </LabelTemplate>
      <ChildContent>
        <AntDesign.InputNumber id="quantity" @bind-Value="@context.Quantity" Min="1" Max="1000"/>
      </ChildContent>
    </FormItem>

    <FormItem>
      <LabelTemplate>
        <label class="ant-form-item-required" for="cost">Cost</label>
      </LabelTemplate>
      <ChildContent>
        <AntDesign.InputNumber id="cost" @bind-Value="@context.Cost" Min="1000"/>
      </ChildContent>
    </FormItem>

    <FormItem>
      <LabelTemplate>
        <label class="ant-form-item-required" for="product-code">Cost</label>
      </LabelTemplate>
      <ChildContent>
        <Input id="product-code" @bind-Value="@context.ProductCodeName" placeholder="product code name"/>
      </ChildContent>
    </FormItem>

    <FormItem WrapperColOffset="8" WrapperColSpan="16">
      <Button Type="@ButtonType.Primary" OnClick="Save">
        Save
      </Button>
      <Button Type="@ButtonType.Default" OnClick="Cancel">
        Cancel
      </Button>
    </FormItem>
  </Form>
</Modal>

@code {
  [Parameter]
  public bool Visible { get; set; }

  [Parameter]
  public EditProductModel Model { get; set; }

  [Parameter]
  public EventCallback<(bool, bool)> OnClose { get; set; }

  [Parameter]
  public Func<EditProductModel, Task<ResultDto<ProductDto>>> OnSave { get; set; }

  private Form<EditProductModel> _form;
  private string _errorMessage;

  private async Task Save()
  {
    if (_form.Validate())
    {
      /*var (_, isError, errorMessage) = await OnSave.Invoke(_form.Model);
      if (!isError)
      {
        Visible = false;
        await OnClose.InvokeAsync((Visible, true));
      }
      else
      {
        _errorMessage = errorMessage;
      }*/
    }
  }

  private async Task Cancel()
  {
    Visible = false;
    await OnClose.InvokeAsync((Visible, false));
  }
}
